.Header{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(rgba(0, 0, 0 ,0.5), rgba(0, 0, 0, 0));
}

@media (min-width: 320px) and (max-width: 480px) {
  .Header{
    display: none;
  } 
}

.Header .content{
  display: flex;
  width: 90%;
  margin: 0 auto;
  color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
  .Header{
    display: none;
  } 
}

.Header .items{
  height: 100%;
  font-size: 16pt;
  list-style-type: none;
  margin: 0 0 0 auto;
}

.Header .item{
  display: inline-block;
  height: 100%;
  margin-right: 5px;
  padding: 1em 0.7em;
}

.Header .item:last-child{
  margin-right: 0;
}